<!DOCTYPE html>
<html>
<body>
<h1>We'd Love to Hear Your Feedback!</h1>
<p>Dear <%= @client.full_name %>,</p>
<p>Thank you for choosing GA Multi Service. We hope you’re satisfied with our service!</p>
<p>
  Could you take a few minutes to <a href="<%= @review_link %>">share your review</a>?
  Your feedback helps us improve our services.
</p>
<p>Thank you!</p>
</body>
</html>
